<?xml version='1.0' encoding='UTF-8'?>
<user>
    <username id="1">cb</username>
    <password id="1">123</password>
    <username id="2">ccbb</username>
    <password id="2">123456</password>
    <username id="3">gdfgdfg</username>
    <password id="3">455435</password>
    <username id="4">ghfghfgh</username>
    <password id="4">xcxv</password>
</user>
